.mainLayout {
  display: grid;
  height: 100vh;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main ";
}

.sidebar {
  grid-area: sidebar;
}

.navbar {
  grid-area: header;
}

.main {
  grid-area: main;
}
